force-app/main/default/flows/Lookup.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <description>Add the one ACR record to the Collection</description>
        <name>Add_to_Acct_Contact_Relation</name>
        <label>Add to Acct Contact Relation</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>colAcctContRel</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recAcctContRel</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Assign the Account and Contact to the Single Record Variable</description>
        <name>Create_Acct_Cont_Rel</name>
        <label>Create Acct Contact Relation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>recAcctContRel.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>lukAccount.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>recAcctContRel.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Acct_Contact_Relation</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Choice</name>
        <choiceText>Choice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Choice</stringValue>
        </value>
    </choices>
    <choices>
        <name>MSP</name>
        <choiceText>MSP</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>MSP</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Old</name>
        <choiceText>Old</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Old</stringValue>
        </value>
    </choices>
    <choices>
        <name>x10</name>
        <choiceText>10</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>10.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>x100</name>
        <choiceText>100</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>100.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>x1000</name>
        <choiceText>1000</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1000.0</numberValue>
        </value>
    </choices>
    <dynamicChoiceSets>
        <name>colAccounts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <limit>10</limit>
        <object>Account</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Lookup {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lookup</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>The Contact ID that is passed into the Flow</description>
        <name>Contact</name>
        <label>Contact</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrLookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Smith</stringValue>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>recContact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <description>Screen to Test the Lookups</description>
        <name>scrLookup</name>
        <label>Lookup</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Acct_Cont_Rel</targetReference>
        </connector>
        <fields>
            <name>txtName</name>
            <fieldText>&lt;p&gt;Related Account for {!recContact.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>chStart</name>
            <choiceReferences>x10</choiceReferences>
            <choiceReferences>x100</choiceReferences>
            <choiceReferences>x1000</choiceReferences>
            <dataType>Number</dataType>
            <defaultValue>
                <numberValue>100.0</numberValue>
            </defaultValue>
            <fieldText>Start At</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>numEntered</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>slider.value</elementReference>
            </defaultValue>
            <fieldText>Enter Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Must be &amp;gt; 1000&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <validationRule>
                <errorMessage>&lt;p&gt;Must be &amp;gt; 1000&lt;/p&gt;</errorMessage>
                <formulaExpression>{!numEntered} &gt;1000</formulaExpression>
            </validationRule>
        </fields>
        <fields>
            <name>slider</name>
            <extensionName>flowruntime:slider</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>max</name>
                <value>
                    <elementReference>x1000</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>min</name>
                <value>
                    <elementReference>x100</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>numEntered</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>step</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>plCreate</name>
            <choiceReferences>Old</choiceReferences>
            <choiceReferences>New</choiceReferences>
            <choiceReferences>Choice</choiceReferences>
            <choiceReferences>MSP</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Create via</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>numEntered</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>1000.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>lukAccount</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>3.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>plCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Old</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <isRequired>false</isRequired>
            <objectFieldReference>recContact.AccountId</objectFieldReference>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>plCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>New</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>chLookup</name>
            <choiceReferences>colAccounts</choiceReferences>
            <extensionName>flowruntime:choiceLookup</extensionName>
            <fieldText>Account</fieldText>
            <fieldType>ComponentChoice</fieldType>
            <inputParameters>
                <name>placeholder</name>
                <value>
                    <stringValue>Choose the Account</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>plCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Choice</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>mspAccount</name>
            <choiceReferences>colAccounts</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Account</fieldText>
            <fieldType>MultiSelectPicklist</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>plCreate</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>MSP</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contact</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>colAcctContRel</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>recAcctContRel</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountContactRelation</objectType>
    </variables>
    <variables>
        <name>recContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>varAccountsSelected</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
